// get data from controller
var imageData = '<%= raw @image_data %>';
console.log("@image_data = " + imageData);
var valuesQty = '<%= @image_data[:values_qty] %>';
$('span.total_values').html('<h2 title=\'Total values\'>' + valuesQty + '</h2>');

// show theme
var selectedTheme = '<%= @image_data[:theme] %>';

if (selectedTheme == "Выберите тему" || selectedTheme == "Theme Name") {
    $('.img-left-side').css({"display": "none"});
    $('.img-right-side').css({"display": "none"});
    $('.image .image_display .image_diag').css({"display": "none"});
} else {
    $('div.col-md-12.res').css({"display": "block"});
    $('div.modal_list_results').css({"display": "block"});
    $('h2.totalyspice').css({"display": "block"});
    $('span.total_values').css({"display": "block"});


}
var userValuedImage = '<%= @image_data[:user_valued] %>';

if (userValuedImage == 1) {
    console.log("userValuedImage == true? == " + userValuedImage);
    var imageCommonValue = '<%= @image_data[:common_ave_value] %>';
    var your_val = '<%= t('themes.your_value') %>';
    var imageValue = '<%= @image_data[:value] %>';

    $('.left_controls span.common_value').css({"display": "block"});
    $('.left_controls span.common_value').html('<h2>' + your_val + ':' + imageCommonValue + '</h2>');
    $('.total_values h2.title').html(imageValue);
} else {
    $('.left_controls span.common_value').css({"display": "none"});
    $('.image_user_value').css({"display": "none"});
}

var currentUserId = '<%= @image_data[:current_user_id] %>';
var img_title = '<%= @image_data[:name] %>'

$('h2.up-theme').append().html(selectedTheme);
$('h3.text-muted.text-md-left').html(img_title)

//restore button
$('.select_theme').empty().html("<%= j render 'works/button_theme_select' -%>");

//get data from controller
//var oneImageFile = '<%= @image_data[:file] %>';
var oneImageId = '<%= @image_data[:image_id] %>';
//console.log("3f IN display_theme: oneImageId = " + oneImageId);

var imageCurrentIndex = '<%= @image_data[:index] %>';
var themeImagesSize = '<%= @image_data[:images_arr_size] %>';
var selectedThemeId = '<%= @image_data[:theme_id] %>';

var filePath = '<%= asset_path(@image_data[:file_short]) %>'
$('div.img-center').html('<img alt="Selected Image" src="'+ filePath + '" height="100%" width="100%"/>');
$('div.img-left-side').html('<i class=\'fa fa-chevron-circle-left strong\'></i>')
$('div.img-right-side').html('<i class=\'fa fa-chevron-circle-right\'></i>')


//AJAX call to next image list
$('.img-right-side').click(function (event) {
    event.stopImmediatePropagation(); // would stop the event from bubbling to parent elements,

    $.ajax({
        type: "get",
        url: "api/next_image",
        data: {
            index: imageCurrentIndex,
            theme_id: selectedThemeId,
            length: themeImagesSize
        },
        dataType: 'json'
    }).done(function (data_return) {
        console.log("success1c:  " + data_return.notice);

        imageCurrentIndex = data_return.new_image_index;
        oneImageName = data_return.name;
        oneImageFile = data_return.file_short;
        oneImageId = data_return.image_id;
        var pathImage = "assets/pictures/" + oneImageFile;
//        var filePath = '<%#= asset_path(data_return.file_short) %>'

        $('h3.text-muted.text-md-left').html(oneImageName)

        $('div.img-center').html('<img alt="Selected Image" src="' + pathImage + '" height="100%" width="100%"/>');

        var userValuedFlag = data_return.user_valued;

        if (userValuedFlag == 1) {
            var imageCommonValue = data_return.common_ave_value;
            var your_val = '<%= t('themes.your_value') %>';
            var imageValue = data_return.value;

            $('.left_controls span.common_value').css({"display": "block"});
            $('.left_controls span.common_value').html('<h2>' + your_val + ':' + imageCommonValue + '</h2>');
            $('.total_values h2.title').html(imageValue);

        } else {
            $('.left_controls span.common_value').css({"display": "none"});
            $('.image_user_value').css({"display": "none"});
        }

    })
        .fail(function (data_return) {
            console.log("error: data_return = " + data_return);
        });
});

//AJAX call to previous image list
$('.img-left-side').click(function (event) {
    event.stopImmediatePropagation(); // would stop the event from bubbling to parent elements,

    $.ajax({
        type: "get",
        url: "api/prev_image",
        data: {
            index: imageCurrentIndex,
            theme_id: selectedThemeId,
            length: themeImagesSize
        },
        dataType: 'json'
    }).done(function (data_return) {
        console.log("success1c:  " + data_return.notice);

        imageCurrentIndex = data_return.new_image_index;
        oneImageName = data_return.name;
        oneImageFile = data_return.file_short;
        oneImageFile2 = data_return.file;
        oneImageId = data_return.image_id;
        var pathImage = "assets/pictures/" + oneImageFile;
//        var filePath = '<%#= asset_path(data_return.file_short) %>'

        $('h3.text-muted.text-md-left').html(oneImageName)

        $('div.img-center').html('<img alt="Selected Image" src="' + pathImage + '" height="100%" width="100%"/>');

        var userValuedFlag = data_return.user_valued;

        if (userValuedFlag == 1) {
            var imageCommonValue = data_return.common_ave_value;
            var your_val = '<%= t('themes.your_value') %>';
            var imageValue = data_return.value;

            $('.left_controls span.common_value').css({"display": "block"});
            $('.left_controls span.common_value').html('<h2>' + your_val + ':' + imageCommonValue + '</h2>');
            $('.total_values h2.title').html(imageValue);

        } else {
            $('.left_controls span.common_value').css({"display": "none"});
            $('.image_user_value').css({"display": "none"});
        }

    })
        .fail(function (data_return) {
            console.log("error: data_return = " + data_return);
        });
});



$('button.btn.btn-success').unbind("click").click(function (event) {
    console.log("clicked button ");
    event.stopImmediatePropagation(); // would stop the event from bubbling to parent elements,
    // var displayValue = $('#chosen_value')[0].innerHTML;
    var displayValue = document.getElementById('chosen_value').innerHTML;
    console.log("displayValue = " + displayValue);

    $.ajax({
        type: "get",
        url: "api/save_value",
        data: {
            image_id: oneImageId,
            theme_id: selectedThemeId,
            value: displayValue
        },
        dataType: 'json'
    }).done(function (data_return) {
        console.log("success1c:  " + data_return.notice);
        var userImageValue = data_return.user_value;
        var your_val = '<%= t('themes.your_value') %>';
        $('.left_controls span.common_value').css({"display": "block"});
        $('.left_controls span.common_value').html('<h2>' + your_val + ':' + userImageValue + '</h2>');

        var userValuedFlag = data_return.user_valued;
        if (userValuedFlag === 1) {
            var valuesQty = data_return.values_qty;
            $('span.total_values').html('<h2 title=\'Total values\'>'+ valuesQty +'</h2>');
            var imageCommonValue = data_return.common_ave_value;
            console.log("6 IN save_value: imageCommonValue = " + imageCommonValue);
        } else {
            $('.left_controls span.common_value').css({"display": "none"});
            $('.image_user_value').css({"display": "none"});
        }
    })
        .fail(function (data_return) {
            console.log("error: data_return = " + data_return);
        });
});