<div title='Page title"'>
  <% if @composite_results.blank? %>
    <div class='results'>
        <h2>"No values"</h2>
        <h2>"Select theme"</h2>
    </div>
    <br>
    <hr>
  <% else %>
    <table style="table-layout: auto;" title="All images expert values">
      <div class='results'>
        <h2>"All images expert values"</h2>
      </div>
      <tr style='font-size: 2em; margin-bottom: .5em'></tr>
      <th class='name'>Image name</th>
      <th>Image</th>
      <th>Value</th>
      <th>Date</th>

      <% @composite_results_paged.each do |composite_diag| %>
        <tr class='one_row'></tr>
        <td style='text-align: left; width: 25em'></td>
        <td><%= image_tag('/assets/pictures/' + composite_diag.file, {:width => "53", :height => "47", title: "Tested image"}) %></td>
        <td style='color: rgba(122, 13, 75, 1);'><%= composite_diag.ave_value %></td>
        <td><%= composite_diag.created_at.strftime('%d.%m.%y ') %></td>
        <%= paginate @composite_results_paged %>
      <% end %>
    </table>
    <br>
    <hr>
  <% end %>
  <%= link_to "Return to main", work_path, title: "Go to main page" %>
  <br>
  <hr>
</div>