<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">THE GREAT APP</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to t('global.header.main_index'), main_index_path, class: "nav-link #{'active' if current_page? main_index_path}" %>
      <%= link_to t('global.header.about'), main_about_path, class: "nav-link #{'active' if current_page? main_about_path}" %>
      <%= link_to t('global.header.help'), main_help_path, class: "nav-link #{'active' if current_page? main_help_path}" %>
      <% if current_user %>
        <%= link_to t('global.header.exit'), logout_path, class: "nav-link" %> <i class="fas fa-sign-out-alt"></i>
        <%= link_to image_tag(current_user.gravatar_url, class: "gravatar"), current_user %>
      <% end %>
    </nav>
  </div>
</header>